---
layout: archive
---

{{ content }}

<script>
var DEBBIE_BUTTON = true;

function changeImage()
{
var img = document.getElementById("debbie");
var authornamedebbie = document.getElementById("authornamedebbie");
var authorbiodebbie = document.getElementById("authorbiodebbie");
var debbieframe = document.getElementById("debbieframe");

if (DEBBIE_BUTTON) {
	img.src="assets/images/debbie.jpeg";
	authornamedebbie.innerText = 'Debbie';
	authorbiodebbie.innerText = "A poor axolotl who suffers from Chaoyi\'s tons of nonsense murmurs when he reads and codes."
	authorbiodebbie.style = 'font-size:0.7em';
	debbieframe.style.display = 'block';
}else{
	img.src="assets/images/bio-photo.jpeg";
	authornamedebbie.innerText = 'Chaoyi Zhang';
	authorbiodebbie.innerText = '';
	authorbiodebbie.style = 'font-size:$h-size-3';
	debbieframe.style.display = 'none';
}
DEBBIE_BUTTON = !DEBBIE_BUTTON;
return false;
}

</script>

<h4 class="archive__subtitle">About Me</h4>


<p> I am a CS PhD candidate in Computer Vision (<b>3D Scene Understanding</b>) at The <a style="text-decoration: none" href="https://www.sydney.edu.au/" target="_blank">University of Sydney</a> (USYD) advised by <a style="text-decoration: none" href="https://www.sydney.edu.au/engineering/about/our-people/academic-staff/tom-cai.html" target="_blank">A/Prof. Weidong Cai</a> (USYD) and <a style="text-decoration: none" href="http://www.cse.unsw.edu.au/~ysong/" target="_blank">A/Prof. Yang Song</a> (UNSW).

	Previously, I got my bachelor degree at USYD, with First-Class Honours and University Medal (H1M) received in Computer Science (<b>Medical Image Computing</b>).
</p>


<h4 class="archive__subtitle">Projects</h4>
<div class='mainitem' id='publications'>

	{% assign sorted_pubs = site.data.publications | sort: 'date' | reverse %}

	{% for pub in sorted_pubs %}
		<div class='row pub'>

			{% capture mainlink %}
				{% assign firstlink = pub.links[0] %}
				{% if firstlink.target %}
					{{ firstlink.target }}
				{% elsif firstlink.type == 'pdf' %}
					paper/{{ pub.id }}.pdf
				{% else %}
					/
				{% endif %}
			{% endcapture %}

			<div class='col-lg-3 col-md-4 col-xs-4 pubimagesection'>
				<a target='_blank' href='{{ mainlink }}'><img class='pubimage img img-responsive' src='assets/pubthumbs/{{ pub.img_fname }}' width='200' height="100" /></a>
			</div>

			<div class='col-lg-9 col-md-8 col-xs-8 pubtextsection'>

				<div class='pubtitle'>
					<a target='_blank' href='{{ mainlink }}' style="text-decoration: none">{{ pub.title }}</a>
				</div>

				<div class='pubauthors'>
					{% for author in pub.authors %}
						{% if forloop.last %}{% unless forloop.first %} and {% endunless %}{% endif %}
						{% if site.data.people[author] %}
							<a class='pubauthor' target='_blank' href='{{ site.data.people[author] }}' style="text-decoration: none">
								{{ author }}{% if forloop.last == false %}{% unless forloop.length == 2 %}, {% endunless %}{% endif %}
							</a>
						{% else %}
							{{ author }}{% if forloop.last == false %}{% unless forloop.length == 2 %}, {% endunless %}{% endif %}
						{% endif %}
					{% endfor %}
                                        {% if pub.equalcontrib %}
										(*Equal Contribution)
                                        {% endif %}
				</div>


				<div class='pubvenue'>{{ pub.venue }}</div>

				{% for link in pub.links %}
					{% if forloop.first == false %} | {% endif %}

					{% capture lname %}
						{% if link.type == 'link' %}
							{{ link.name }}
						{% else %}
							{{ link.type }}
						{% endif %}
					{% endcapture %}

					{% capture ltarget %}
						{% if link.type == 'link' %}
							{{ link.target }}
						{% else %}
							{{ link.type }}/{% if link.target %}{{ link.target }}{% else %}{{ pub.id }}.{{ site.data.extensions[link.type] }}{% endif %}
						{% endif %}
					{% endcapture %}

					<a class='publink' target='_blank' href='{{ ltarget }}' style="text-decoration: none">{{ lname }}</a>
				{% endfor %}

				{% if pub.award %}
					<div><span class='label pubaward'>{{ pub.award }}</span></div>
				{% endif %}

				<div class='pubinfo'>{{ pub.info }}</div>
			</div>
		</div>

	{% endfor %}

	</div>
<p style="font-size:0.6em"><em>* A full list of my publications can be found in my <a style="text-decoration: none" href="https://scholar.google.com/citations?user=GSM6eT0AAAAJ" target="_blank">Google Scholar</a>.</em></p>

<h6 class="archive__subtitle">A Few Random Thoughts</h6>
<ul>
	<li style="font-size:0.7em"><a style="text-decoration: none" href="https://github.com/chaoyivision/ebatch" target="_blank">ebatch: makes sbatch easier (SLURM helper)!</a> <br>
		adding one single word to launch sbatch <font style="color: #d65129"><em>(e.g., </em></font><code class="bash">ebatch "echo Hello World!"</code><font style="color: #d65129"><em>)</em></font>.</li>
	<li style="font-size:0.7em">[2023.02] Our historic mission (as human being) is probably, to produce so-called 'human-alike behavior' data which contains co-occurance patterns, for machines to capture and learn ...</li>
	<li style="font-size:0.7em"><a style="text-decoration: none" href="https://github.com/chaoyivision/python-dprint" target="_blank">python-dprint: an easy-to-use debug-print package for deep learning studies (colorful print with calling positions)</a> <object data="https://img.shields.io/pypi/dm/pydprint?color=blue&label=installed&style=plastic"></object><br>
		try install it   <font style="color: #0066ff"><em>(</em></font><code class="bash">pip install pydprint</code><font style="color: #0066ff"><em>)</em></font>, <br>
		&nbsp&nbsp&nbsp&nbsp import it   <font style="color: #0066ff"><em>(</em></font><code class="python">from pydprint import dprint</code><font style="color: #0066ff"><em>)</em></font>, and<br>
		&nbsp&nbsp&nbsp&nbsp debug it   <font style="color: #0066ff"><em>(</em></font><code class="python">loss = loss_node + dprint(loss_edge)</code><font style="color: #0066ff"><em>)</em></font> !</li>
	<li style="font-size:0.7em"><a style="text-decoration: none" href="https://github.com/chaoyivision/comm_ddp" target="_blank">comm_ddp: an easy-to-use communication tools for pytorch-DDP (single-node with multi-GPUs)</a> <object data="https://img.shields.io/pypi/dm/comm-ddp?color=orange&label=installed&style=plastic"></object><br>
		try install it <font style="color: #ffaf24"><em>(</em></font><code class="bash">pip install comm-ddp</code><font style="color: #ffaf24"><em>)</em></font>, <br>
		&nbsp&nbsp&nbsp&nbsp import it <font style="color: #ffaf24"><em>(</em></font><code class="python">from comm_ddp import comm</code><font style="color: #ffaf24"><em>)</em></font>, and<br>
		&nbsp&nbsp&nbsp&nbsp launch it <font style="color: #ffaf24"><em>(</em></font><code class="python">comm.launch_DDP()</code><font style="color: #ffaf24"><em>)</em></font> ! <br>
		&nbsp&nbsp&nbsp&nbsp * note: wrap the model with DDP and launch it via torchrun -> see <a style="text-decoration: none" href="https://github.com/chaoyivision/comm_ddp/blob/main/README.md#dont-forget-these" target="_blank">here</a> </li>
	<li style="font-size:0.7em"><a style="text-decoration: none" href="https://chaoyivision.notion.site/Remote-Programming-Tips-02bc5a1251d64ac0846b28eef9b67155" target="_blank">Remote development tips for junior CS remote students</a> (2022: too old too naive...); </li>
</ul>

<br>

<h4 class="archive__subtitle">Research Experience</h4>
<ul>
	<li style="font-size:0.7em">Research Scientist Intern, <a style="color: #3D0C02; text-decoration: none" href="https://ai.facebook.com/" target="_blank">Facebook AI Research (FAIR)</a>, Meta AI <div style="display: inline-block; max-width: 3%; max-height: 3%;"><img src="./assets/images/meta_emoji.png"/></div>, 2022 - Now</li>
	<li style="font-size:0.7em">Visiting PhD Student at <a style="color: #3D0C02; text-decoration: none" href="https://mitibmwatsonailab.mit.edu/" target="_blank">MIT-IBM Watson AI Lab</a> <div style="display: inline-block; max-width: 4%; max-height: 4%;"><img src="./assets/images/hacker.png"/></div>, 2021 - 2022</li>
	<li style="font-size:0.7em">PG. Research Engineer, USYD (Multimedia Lab) - joint <i>R&D</i> projects with <a style="color: #3D0C02; text-decoration: none" href="https://www.sydney.edu.au/brain-mind/" target="_blank">Brain and Mind Centre</a>, <a style="color: #3D0C02; text-decoration: none" href="https://www.sydney.edu.au/nano/" target="_blank">Sydney Nano Institute</a>, <a style="color: #3D0C02; text-decoration: none" href="https://www.sydney.edu.au/medicine-health/schools/sydney-pharmacy-school.html" target="_blank">USYD Pharmacy School</a>, <a style="color: #3D0C02; text-decoration: none" href="https://www.chemistry.unsw.edu.au/" target="_blank">UNSW Chemistry School</a>, <a style="color: #3D0C02; text-decoration: none" href="http://yishi.sjtu.edu.cn/deepAntigen/About.htm" target="_blank">SJTU Biomedicine Center</a> and <a style="color: #3D0C02; text-decoration: none" href="https://lmi.med.harvard.edu/" target="_blank">Harvard Medical School</a>, 2019 - 2021</li>
	<li style="font-size:0.7em">UG. Research Assistant, <a style="color: #3D0C02; text-decoration: none" href="https://www.snac.com.au/" target="_blank">Sydney Neuroimaging Analysis Centre (SNAC)</a>, 2018 - 2019</li>
	<li style="font-size:0.7em">Summer Research Scholar, <a style="color: #3D0C02; text-decoration: none" href="https://www.csiro.au/" target="_blank">Commonwealth Scientific and Industrial Research Organisation (CSIRO) Data61 (f.k.a., NICTA)</a>, 2016 - 2017</li>
	<li style="font-size:0.7em">ML Engineer, <a style="color: #3D0C02; text-decoration: none" href="https://www.uts.edu.au/research-and-teaching/our-research/global-big-data-technologies-centre" target="_blank">University of Technology Sydney (UTS)</a>, 2016</li>
	<!-- <li style="font-size:0.7em"><b>Assist in supervision and mentoring</b> Undergrad. <a style="text-decoration: none" href="https://kmrg.cs.usyd.edu.au/current_students/undergrad/tsp-ssp.shtml" target="_blank">SSP/TSP</a>/Honours and MPhil. research students - welcome to join our <a style="text-decoration: none" href="https://www.sydney.edu.au/engineering/about/our-people/academic-staff/tom-cai.html#collapseprofileprojects" target="_blank">research squad</a>!</li> -->
</ul>


<h4 class="archive__subtitle">Academic Service</h4>
<ul>
<li style="font-size:0.7em">I served as Conference Reviewer for CVPR 2021, 2022, 2023; ICCV 2021; ECCV 2022; NeurIPS 2022; AAAI 2021; MICCAI 2020, 2021, 2022; WACV 2019; DICTA 2020; ICASSP 2020; ISBI 2021; EMBC 2020</li>
<li style="font-size:0.7em">I served as Journal Reviewer for IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI), IEEE Transactions on Medical Imaging (TMI), IEEE Transactions on Multimedia (ToM), IEEE Transactions on Cognitive and Developmental Systems (TCDS), Neurocomputing</li>


<li style="font-size:0.7em"> I taught these courses at The Unversity of Sydney (USYD)
<ul>
<li style="font-size:0.7em">COMP3419 Graphics and Multimedia (2018-2021): <i>Guest Lecturer; Head TA</i></li>
<li style="font-size:0.7em">COMP5424 IT in Biomedicine (2019-2021): <i>Casual Lecturer; TA</i></li>
<li style="font-size:0.7em">COMP9110/INFO2110 System Analysis and Modelling (2017): <i>Tutor</i></li>
</ul>
and at University of New South Wales (UNSW)
<ul>
	<li style="font-size:0.7em">COMP9517 Computer Vision (2019): <i>TA; intro. research talks</i></li>
</ul></li>
</ul>
<!--
<h4 class="archive__subtitle">Honors and Awards</h4>
<ul>
	<li style="font-size:0.7em">Australia RTP Fellowship (International Track) 2019-2022<font style="color:lightgrey">, Australian Government</font> <br>Google/IBM PhD Fellowship Oceania Nominees 2020/2021<font style="color:lightgrey">, Google/IBM</font></li>
	<li style="font-size:0.7em">CiSRA Potential Impact Research Award 2018<font style="color:lightgrey">, Canon Info. Sys. Research Australia</font></li>
	<li style="font-size:0.7em">Microsoft Research Asia Prize for Multimedia Technologies 2017<font style="color:lightgrey">, MSRA</font></li>
	<li style="font-size:0.7em">Google Cloud Platform Education Grant <font style="color:lightgrey"> in delivering AI-enriched multimedia courses</font></li>
	<li style="font-size:0.7em">Honorable Award in Mathematical Contest in Modeling (MCM) 2016</li>
	<li style="font-size:0.7em">University Medal in Computer Science at University of Sydney 2015 - 2018</li>
		<li style="font-size:0.7em">[2023.02] The historic mission of human being is probably, to produce so-called 'creative' data which contains co-occurance patterns, for machines to capture and learn...</li>

</ul>
-->

<blockquote>
	<p> - I petted an <a style="text-decoration: none" href="https://en.wikipedia.org/wiki/Axolotl" target="_blank">axolotl</a> and <button id="clickme" onclick="changeImage();">Debbie</button> was her name.<br>
		- I <span style='color:rosybrown;text-decoration:line-through'><span style='color:black'>am</span></span>
		    <font style="color:rosybrown">was</font> fascinated by lure fishing.
			<span style='color:rosybrown;text-decoration:line-through'><span style='color:black'>It's so chill to cast and chinwag with buddies overnight</span></span>
		<span style='color:brown;text-decoration:line-through'><span style='color:rosybrown'>No Big Fish in Darling Harbor any more </span></span> <font style="color:brown">just 'NO FISH' (corrected by my mate Junkai: just dont go pls)</font>.

		Nightwind <span style='color:rosybrown;text-decoration:line-through'><span style='color:black'>is</span></span><font style="color:rosybrown"> was too freaking</font> sharp and we <span style='color:rosybrown;text-decoration:line-through'><span style='color:black'> are fun</span></span><font style="color:rosybrown"> were just young and restless and bored.</font><br> <!-- - these crazy companies have all moved away from this isolated island now.</font><br> -->
		- I fancy <b>still waters</b> as they generally <b>run deep</b>.
		</p>
<video id="debbieframe" height="355" autostart="0" muted="" controls="" style='display:none'><source src="./assets/videos/Debbie.mp4" type="video/mp4">
</video>


</blockquote>
<!--
<br>
<br>
<br>
<br>
<br>


<p style="font-size:0.07em"><i>
During my undergrad. and phd studies at USYD, I received countless supports and guidances from senior graduated members of our lab, they're
<a style="color: #3D0C02; text-decoration: none" href="https://scholar.google.com.au/citations?user=ADyo_cAAAAAJ&hl=en" target="_blank">Siqi</a>,
<a style="color: #3D0C02; text-decoration: none" href="https://scholar.google.com.au/citations?user=wVwn-dIAAAAJ&hl=en" target="_blank">Sidong</a>,
<a style="color: #3D0C02; text-decoration: none" href="https://scholar.google.com.au/citations?user=kTd978wAAAAJ&hl=en" target="_blank">Fan</a>,
<a style="color: #3D0C02; text-decoration: none" href="https://scholar.google.com/citations?user=9CBsKm0AAAAJ&hl=en" target="_blank">Donghao</a>,
<a style="color: #3D0C02; text-decoration: none" href="https://scholar.google.com/citations?user=JZzb8XUAAAAJ&hl=en" target="_blank">Dongnan</a>, and
	<a style="color: #3D0C02; text-decoration: none" href="https://scholar.google.com/citations?user=_h1y48MAAAAJ&hl=en" target="_blank">Yicheng</a>. As times flies, we are now seperated in difference places - just try to find somewhere to write it down and appreciate the great time we spent together.</i> </p>
-->

<!--
<div align="center">
	<img src='https://www.counter12.com/img-6A0BbA7ACw0cWdZA-57.gif' border='0' alt='counter'> <a font-size="0.2em">since Feb 25 2021</a>, <p align="right"> Template credits: </p>
</div>
-->

<!--
<iframe id='debbieframe0' height="355" src="./assets/videos/Debbie.mp4" autoplay="0" type="video/mp4" style='display:none'>
</iframe>
-->

<!--
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>






 -->


<!-- {% include paginator.html %} -->
