---
layout: archive
---

{{ content }}

<script>
var DEBBIE_BUTTON = true;

function changeImage()
{
var img = document.getElementById("debbie");
var authornamedebbie = document.getElementById("authornamedebbie");
var authorbiodebbie = document.getElementById("authorbiodebbie");
var debbieframe = document.getElementById("debbieframe");

if (DEBBIE_BUTTON) {
	img.src="assets/images/debbie.jpeg";
	authornamedebbie.innerText = 'Debbie';
	authorbiodebbie.innerText = "A poor axolotl who suffers from Chaoyi\'s tons of nonsense murmurs when he reads and codes."
	authorbiodebbie.style = 'font-size:0.7em';
	debbieframe.style.display = 'block';
}else{
	img.src="assets/images/bio-photo.jpeg";
	authornamedebbie.innerText = 'Chaoyi Zhang';
	authorbiodebbie.innerText = 'CS PhD Candidate';
	authorbiodebbie.style = 'font-size:$h-size-3';
	debbieframe.style.display = 'none';
}
DEBBIE_BUTTON = !DEBBIE_BUTTON;
return false;
}

</script>

<h4 class="archive__subtitle">About Me</h4>


<p> I am a PhD student in Computer Vision (<b>3D Scene Understanding</b>) in the School of Computer Science at The <a href="https://www.sydney.edu.au/" target="_blank">University of Sydney</a> (USYD) advised by <a href="https://www.sydney.edu.au/engineering/about/our-people/academic-staff/tom-cai.html" target="_blank">A/Prof. Weidong Cai</a> and <a href="http://www.cse.unsw.edu.au/~ysong/" target="_blank">Dr. Yang Song</a>. Previously, I graduated with a <i>Bachelor of Computer Science and Technology (Advanced) (Honours) </i> degree in Computer Science (<b>Medical Image Computing</b>) with First Class Honours and University Medal from USYD.
</p>
<blockquote>
	<p> I pet an <a href="https://en.wikipedia.org/wiki/Axolotl" target="_blank">axolotl</a> and <button id="clickme" onclick="changeImage();">Debbie</button> is her name.<br>
		Lure fishing <del>drives</del> drove me crazy - <del>it's so chill to cast and chinwag with buddies overnight</del> No Big Fish in Darling Harbor (just don't go). The wind is shape and we <del>are fun</del> were just young and these crazy companies left me one by one. <br>
	I fancy <b>still waters</b> as they generally <b>run deep</b>.
</p>
<video id="debbieframe" height="355" autostart="0" muted="" controls="" style='display:none'><source src="./assets/videos/Debbie.mp4" type="video/mp4">
</video>


</blockquote>

<h4 class="archive__subtitle">Highlighted Publications</h4>
<div class='mainitem' id='publications'>

	{% assign sorted_pubs = site.data.publications | sort: 'date' | reverse %}

	{% for pub in sorted_pubs %}
		<div class='row pub'>

			{% capture mainlink %}
				{% assign firstlink = pub.links[0] %}
				{% if firstlink.target %}
					{{ firstlink.target }}
				{% elsif firstlink.type == 'pdf' %}
					paper/{{ pub.id }}.pdf
				{% else %}
					/
				{% endif %}
			{% endcapture %}

			<div class='col-lg-3 col-md-4 col-xs-4 pubimagesection'>
				<a target='_blank' href='{{ mainlink }}'><img class='pubimage img img-responsive' src='assets/pubthumbs/{{ pub.img_fname }}' width='200' height="100" /></a>
			</div>

			<div class='col-lg-9 col-md-8 col-xs-8 pubtextsection'>

				<div class='pubtitle'>
					<a target='_blank' href='{{ mainlink }}' style="text-decoration: none">{{ pub.title }}</a>
				</div>

				<div class='pubauthors'>
					{% for author in pub.authors %}
						{% if forloop.last %}{% unless forloop.first %} and {% endunless %}{% endif %}
						{% if site.data.people[author] %}
							<a class='pubauthor' target='_blank' href='{{ site.data.people[author] }}' style="text-decoration: none">
								{{ author }}{% if forloop.last == false %}{% unless forloop.length == 2 %}, {% endunless %}{% endif %}
							</a>
						{% else %}
							{{ author }}{% if forloop.last == false %}{% unless forloop.length == 2 %}, {% endunless %}{% endif %}
						{% endif %}
					{% endfor %}
                                        {% if pub.equalcontrib %}
										(*Equal Contribution)
                                        {% endif %}
				</div>


				<div class='pubvenue'>{{ pub.venue }}</div>

				{% for link in pub.links %}
					{% if forloop.first == false %} | {% endif %}

					{% capture lname %}
						{% if link.type == 'link' %}
							{{ link.name }}
						{% else %}
							{{ link.type }}
						{% endif %}
					{% endcapture %}

					{% capture ltarget %}
						{% if link.type == 'link' %}
							{{ link.target }}
						{% else %}
							{{ link.type }}/{% if link.target %}{{ link.target }}{% else %}{{ pub.id }}.{{ site.data.extensions[link.type] }}{% endif %}
						{% endif %}
					{% endcapture %}

					<a class='publink' target='_blank' href='{{ ltarget }}' style="text-decoration: none">{{ lname }}</a>
				{% endfor %}

				{% if pub.award %}
					<div><span class='label pubaward'>{{ pub.award }}</span></div>
				{% endif %}

			</div>
		</div>

	{% endfor %}

	</div>
<p style="font-size:0.6em"><em>* A full list of my publications can be found in my <a href="https://scholar.google.com/citations?user=GSM6eT0AAAAJ" target="_blank">Google Scholar</a>.</em></p>

<h6 class="archive__subtitle">A Few Random Thoughts</h6>
<ul>
	<li style="font-size:0.7em"><a href="https://chaoyivision.notion.site/Remote-Programming-Tips-02bc5a1251d64ac0846b28eef9b67155" target="_blank">Remote development tips for CS research students</a>; </li>
</ul>

<br>

<h4 class="archive__subtitle">Teaching, Research, Reviewing, and Mentoring Experiences</h4>
<ul>
	<li style="font-size:0.7em"><a href="https://www.sydney.edu.au/units/COMP3419" target="_blank">COMP3419 Graphics and Multimedia@USYD</a>: Head TA; intro. research <a href="/talks/comp3419-intro-talk.pdf" target="_blank">talks</a> for UG. students;</li>
	<li style="font-size:0.7em"><a href="https://www.sydney.edu.au/units/COMP5424" target="_blank">COMP5424 Information Technology in Biomedicine@USYD</a>: TA; guest lecturer;</li>
	<li style="font-size:0.7em"><a href="https://webcms3.cse.unsw.edu.au/COMP9517/19T2/outline" target="_blank">COMP9517 Computer Vision@UNSW</a>: TA; research talks;</li>
	<li style="font-size:0.7em"><a href="https://www.sydney.edu.au/units/COMP9110" target="_blank">COMP9110 System Analysis and Modelling@USYD</a>: tutor;</li>
	<li style="font-size:0.7em">RA at USYD for joint research projects with <a href="https://www.sydney.edu.au/brain-mind/" target="_blank">BMC</a>, <a href="https://www.sydney.edu.au/nano/" target="_blank">Sydney Nano</a>, <a href="https://www.sydney.edu.au/save-sight-institute" target="_blank">Save Sight Institute</a>, <a href="https://www.sydney.edu.au/medicine-health/schools/sydney-pharmacy-school.html" target="_blank">Sydney Pharmacy School</a>, <a href="https://researchers.mq.edu.au/en/prizes/dicta-2018-cisra-potential-impact-award" target="_blank">Macquarie University</a>, <a href="https://www.siemens-healthineers.com/" target="_blank">Siemens Healthineers</a>, <a href="https://lmi.med.harvard.edu/" target="_blank">HMS-LMI</a>, and <a href="http://yishi.sjtu.edu.cn/deepAntigen/About.htm" target="_blank">SJTU-KLSB</a>;</li>
	<li style="font-size:0.7em">Prev. RA at <a href="https://www.uts.edu.au/research-and-teaching/our-research/global-big-data-technologies-centre" target="_blank">UTS</a> and <a href="https://www.csiro.au/" target="_blank">CSIRO Data61</a> (f.k.a, NICTA);</li>
	<li style="font-size:0.7em">Reviewer for CVPR, ICCV, AAAI, MICCAI, WACV, DICTA, ICIP, ICASSP, ISBI, EMBC;</li>
	<li style="font-size:0.7em">Assist supervision and mentoring undergraduate <a href="https://kmrg.cs.usyd.edu.au/current_students/undergrad/tsp-ssp.shtml" target="_blank">SSP/TSP</a>/Honours and MPhil. research students - welcome to join our <a href=https://www.sydney.edu.au/engineering/about/our-people/academic-staff/tom-cai.html" target="_blank">research squad</a>!</li>
</ul>

<h4 class="archive__subtitle">Honors and Awards</h4>
<ul>
	<li style="font-size:0.7em">Australia RTP Fellowship (International Track)<font style="color:lightgrey">, Australian Government;</font> <br>Google/IBM PhD Fellowship Finalist<font style="color:lightgrey">, Google/IBM US; </font></li>
	<li style="font-size:0.7em">Microsoft Research Prize for Multimedia Technologies<font style="color:lightgrey">, Microsoft Australia</font></li>
	<li style="font-size:0.7em">CiSRA Potential Impact Research Award<font style="color:lightgrey">, Australian Pattern Recognition Society (APRS)</font></li>
	<li style="font-size:0.7em">Google Cloud Platform Education Grant <font style="color:lightgrey"> for designing and delivering AI-enriched multimedia courses, Google Ocentia</font></li>
	<li style="font-size:0.7em">Honorable Mention in Mathematical Contest in Modeling<font style="color:lightgrey"> (MCM Competition)</font></li>
	<li style="font-size:0.7em">UnderGrad. High Honor Roll / UnderGrad. Summer Research Scholarship / PostGrad. High Honor Roll / PostGrad. Research Support Scheme / University of Sydney Academic Merit Prize / Dean’s List of Excellence in Academic Performance / University Medal @ USYD</li>
</ul>

<!--
<div align="center">
	<img src='https://www.counter12.com/img-6A0BbA7ACw0cWdZA-57.gif' border='0' alt='counter'> <a font-size="0.2em">since Feb 25 2021</a>, <p align="right"> Template credits: </p>
</div>
-->

<!--
<iframe id='debbieframe0' height="355" src="./assets/videos/Debbie.mp4" autoplay="0" type="video/mp4" style='display:none'>
</iframe>
-->

<!--
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>






 -->


<!-- {% include paginator.html %} -->
